
Assignment/.DS_Store
Assignment/HCDV Assignment/.DS_Store
Assignment/HCDV Assignment/.Rproj.user/.DS_Store
.DS_Store
Lab Sessions/QGIS Labs/Datasets.zip
Lab Sessions/QGIS Labs/Datasets/GreatBritainRoads/osm_roads_England.dbf
Lab Sessions/QGIS Labs/Datasets/GreatBritainRoads/osm_roads_England.shp
.Rproj.user
Assignment/accident-and-casualty-adjustment-2004-to-2019/accident_adjustment_lookup_2019.csv
Assignment/accident-and-casualty-adjustment-2004-to-2019/cas_adjustment_lookup_2019.csv
